@import "../../vars.css";

.Header {
  width: 100%;
  padding: 3.125rem 0 1.5625rem;
  background-image: url('./../../assets/bg.png');
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

.Name {
  font-family: 'Dosis', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0.9375rem;
  letter-spacing: 0.0625rem;
  text-align: center;
  color: var(--white);
  line-height: 1;
}

.Title {
  font-family: 'Heebo', sans-serif;
  text-align: center;
  color: var(--white);
  margin: 0 0 0.625rem;
  font-weight: 300;
  line-height: 1;
  font-size: 1rem;
}

@media all and (max-width: 768px) {
  .Title {
    font-size: 1rem;
  }
}

.ProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Profile {
  width: 7.8125rem;
  height: 7.8125rem;
  margin: 0;
  background-image: url('./../../assets/profile.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--palegreen);
  border-radius: 50%;
}

.Social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.3125rem;
}

@media all and (max-width: 768px) {
  .Social {
    margin-top: 0.3125rem;
  }
}

.SocialIcon {
  width: 1.25rem;
  height: 1.25rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 0.625rem;
}

.SocialIcon a {
  display: block;
  height: 100%;
  width: 100%;
}

.Facebook {
  background-image: url('./../../assets/facebook-social.png');
}

.Twitter {
  background-image: url('./../../assets/twitter-social.png');
}

.Instagram {
  background-image: url('./../../assets/instagram-social.png');
}

.Email {
  background-image: url('./../../assets/email-social.png');
}

.Nav {
  width: 100%;
  height: 3.125rem;
  display: flex;
  flex-direction: row;
  justify-content: flext-start;
  align-items: center;
  background-color: var(--darkgrey);
  flex: 1 0 auto;
}

.Nav a {
  height: 100%;
  padding: 0 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  transition: .3s background-color ease-out;
}

.Nav a:hover p {
  color: var(--green);
}

.Nav a.ActiveLink {
  background-color: var(--midgrey);
}

.Nav p {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--white);
  text-transform: uppercase;
  transition: .3s color ease-out;
}

.IsChild .ProfileContainer {
  justify-content: flex-start;
  align-items: flex-start;
}

.IsChild .Horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.625rem;
}

.IsChild .Vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.IsChild .Profile {
  width: 3.125rem;
  height: 3.125rem;
  margin-right: 0.625rem;
}

.IsChild .Name {
  margin: 0 0 0.3125rem;
  font-size: 1.25rem;
  letter-spacing: 0.04375rem;
  color: var(--green);
}

.IsChild .Title {
  margin: 0;
  font-size: 0.75rem;
  color: var(--white);
}

@media all and (max-width: 768px) {
  .IsChild .Social {
    margin-left: 5.78125rem;
  }

  .IsChild .SocialIcon {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 0.46875rem;
  }

  .IsChild .Name {
    margin: 0 0 0.3125rem;
    font-size: 1.875rem;
  }

  .IsChild .Title {
    font-size: 1rem;
  }

  .IsChild .Profile {
    width: 5rem;
    height: 5rem;
    margin-right: 1.25rem;
  }
}
