@import "reset";
@import "functions";
@import "vars";

html, body {
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-family: 'Heebo', sans-serif;
    position: relative;
    overflow: scroll;

    @media all and (min-width: 1601px) {
        font-size: 20px;
    }

    @media all and (max-width: 1280px) {
        font-size: 16px;
    }

    @media all and (max-width: 880px) {
        font-size: 14px;
    }

    @media all and (max-width: 768px) {
        font-size: 16px;
    }

    @media all and (max-width: 400px) {
        font-size: 14px;
    }

    @media all and (max-width: 290px) {
        font-size: 12px;
    }
}

h1 {
    font-size: to-rem(16);
    color: #232323;
}

a {
    transition: .2s all ease-out;
}

main {
    background-color: #232323;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

footer {
    width: 100%;
    min-height: 100px;
    background: $darkgrey;
    flex: 1 0 auto;
    padding: to-rem(20) 0;
}
